@font-face {
    font-family: Gasalt-Black;
    src: url(/font/Gasalt-Black.ttf);
}

@font-face {
    font-family: Gasalt-Regular;
    src: url(/font/Gasalt-Regular.ttf);
}

@font-face {
    font-family: Gasalt-Thin;
    src: url(/font/Gasalt-Thin.ttf);
}

h1{
    font-family: Gasalt-Regular;
    text-transform: uppercase;
    
}

.href{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: rgb(0, 128, 255);
}

body{
    background-color: rgb(182, 182, 182);
    text-align: center;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    color: #262626; font-size: small;
    text-align: left;
}


img.zoro{
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.facebook{
    height: 15px;
    width: 15px;
    
}


div{
    box-shadow: 1px 1px 4px 4px dimgrey;
    background-color: white;
    height: 450px;
    width: 900px;
    border: 0px;
    padding: 20px;
    margin-top: 100px;  
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    
}
.topnav hover {
    background-color: green;
    color: white;
    }

h1, p{
    text-align: center;
}



